.nav-bar {
  font-family: var(--titleFont);
  width: 100%;
  background-color: var(--primaryBackColor);
  -webkit-box-shadow: -1px 7px 10px -2px #000000;
  box-shadow: -1px 7px 10px -2px #000000;

  .menu {
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li {
      list-style: none;
    }
  }

  .links-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  li {
    margin-left: 2.5rem;
  }
}

.link {
  text-decoration: none;
  color: var(--colorBlack);
}

.titulo {
  color: var(--textColor);
}
